<p class="text">This is the website which can search the people in this company by name. You can also know the detail about the person who you want to know.</p>
<form method="POST" action="/search" class="searching">
    <label for="name">
        Name:
    </label>
    <input type="text" name="personName" id="name"/>
    <button type="submit">Submit</button>
</form>