<form id="checker" method="POST">
    <label for="number">
        Number:
    </label>
    <input type="number" class="input-1" name="numberInput" id="number" />
    <button type="submit" class="button-1">Submit</button>
</form>

<ul id="attempts">
        
</ul>

