<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
    <main>
        {{{body}}}
    </main>
</body>
<footer>
    <p>
        Name: Jiaqian Zhang, Student ID: 10440712, Introduction: Love coding and like music! 
    </p>
</footer>
</html>